/Creazionali/Singleton/singleton/target/
/Creazionali/FactoryMethod/factory_method/target/
/Creazionali/Prototype/prototype/target/
/Creazionali/Builder/builder/target/
/Strutturali/Adapter/adapter/target/
/Strutturali/Composite/composite/target/
/Strutturali/Decorator/decorator/target/
/Strutturali/Facade/facade/target/
/Strutturali/Proxy/proxy/target/
/Strutturali/Bridge/bridge/target/
/Strutturali/Flyweight/flyweight/target/
/Comportamentali/TemplateMethod/template_method/target/
/Comportamentali/ChainOfResponsibility/ChainOfResponsibility/target/
/Comportamentali/Command/Command/target/
/Comportamentali/Iterator/iterator/target/
/Comportamentali/Mediator/mediator/target/
/Comportamentali/Memento/memento/target/
/Comportamentali/Observer/observer/target/
/Comportamentali/State/state/target/