/Creazionali/Singleton/singleton/target/
/Creazionali/FactoryMethod/factory_method/target/
/Creazionali/Prototype/prototype/target/
/Creazionali/Builder/builder/target/
/Strutturali/Adapter/adapter/target/
/Strutturali/Composite/composite/target/
/Strutturali/Decorator/decorator/target/